
.form-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(38, 102, 142);
   
    .form-div{
        display: flex;
        width: 350px;
        height: 300px;
        background-color: rgb(28, 77, 110);
        border-radius: 5px;
        padding-top: 30px;

     

    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    input{
        margin: 2%;
        outline: none;
        border: none;
        height: 45px;
        width: 70%;
        border-radius: 5px;
        padding-left: 10px;
        color: white;
        background-color: rgb(28, 113, 156);
    }
    input::placeholder{
        color: rgb(200, 200, 208);
    }

       
    .input-error{
        border: 2px solid;
       border-color: rgb(161, 66, 66); 
    }
    .error-msg{
        font-family:  Arial, sans-serif;
        color: rgb(241, 66, 66);
        font-size: x-small;
        font-weight: 900;
        
    }
    .form-button{
        width: 60%;
        cursor: pointer;
        
    }
    .form-button:hover{
        background-color: rgb(94, 160, 194);;
    }
   
}