*{
    margin: 0;
}
.header-main-div{
    width: 100%;
    background-color: rgb(234, 226, 226);
    
    h1{
        padding: 7px;
        color: rgb(24, 116, 182);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    }